# Ignore virtual environment
.venv/
venv/
ENV/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE folders
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore log files
*.log
